.slider{
	width: 95%;
	margin: border-bottom: dashed;
}

.slider ul{
display:flex;
padding:0;
width:100%
animation: cambio 20s infinite alternate;
}

.slider li{
width: 50%;
list-style: none;
}

@keyframes cambio{
0% {margin-left: 0;}
20% {margin-left: 0;}
  
25% {margin-left: -25%;}
45% {margin-left: -25%;}

}
