.slider{
	width: 95%;
	margin: border-bottom: dashed;
}

.slider ul{

animation: cambio 20s infinite alternate;
}


@keyframes cambio{
0% {margin-left: 0;}
20% {margin-left: 0;}
  
25% {margin-left: -20%;}
45% {margin-left: -20%;}

}
