.slider{
width:20%
margin:auto;
overflow:hidden:
}
.slider ul{
display:flex;
padding:0;

animation: cambio 20% infinite;
}

.slider li{

list-style: none;
}

@keyframes cambio{
0%{margin-left:0;}
20%{margin-left:0;}
  
25%{margin-left: -100%;}
45%{margin-left: -100%;}

}
